In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
print("=== 1. Variabel dan Tipe Data ===")
angka_int = 10
angka_float = 3.14
teks = "Halo Python"
daftar = [1, 2, 3]

=== 1. Variabel dan Tipe Data ===

In [ ]:
print(angka_int, "->", type(angka_int))
print(angka_float, "->", type(angka_float))
print(teks, "->", type(teks))
print(daftar, "->", type(daftar))
print()

10 -> <class 'int'>
3.14 -> <class 'float'>
Halo Python -> <class 'str'>
[1, 2, 3] -> <class 'list'>

In [ ]:
print("=== 2. List dan Manipulasi ===")
belanja = ["beras", "minyak", "telur"]
belanja.append("gula")
belanja.append("kopi")

=== 2. List dan Manipulasi ===

In [ ]:
print("Daftar belanja:")
for item in belanja:
    print("-", item)
print()

Daftar belanja:
- beras
- minyak
- telur
- gula
- kopi

In [ ]:
print("=== 3. Dictionary ===")
harga = {
    "beras": 12000,
    "minyak": 17000,
    "telur": 24000,
    "gula": 15000,
    "kopi": 20000
}

=== 3. Dictionary ===

In [ ]:
total = sum(harga.values())
print("Daftar harga belanjaan:")
for barang, h in harga.items():
    print(f"{barang} : Rp{h}")
print("Total harga belanjaan: Rp", total)
print()

Daftar harga belanjaan:
beras : Rp12000
minyak : Rp17000
telur : Rp24000
gula : Rp15000
kopi : Rp20000
Total harga belanjaan: Rp 88000

In [ ]:
print("=== 4. Fungsi ===")
import math

=== 4. Fungsi ===

In [ ]:
def lingkaran(r):
    luas = math.pi * r**2
    keliling = 2 * math.pi * r
    return luas, keliling

In [ ]:
r = 7
luas, keliling = lingkaran(r)
print(f"Jari-jari: {r}")
print(f"Luas lingkaran: {luas:.2f}")
print(f"Keliling lingkaran: {keliling:.2f}")
print()

Jari-jari: 7
Luas lingkaran: 153.94
Keliling lingkaran: 43.98

In [ ]:
print("=== 5. Percabangan ===")
usia = int(input("Masukkan usia Anda: "))

=== 5. Percabangan ===
Masukkan usia Anda: 15

In [ ]:
if 0 <= usia <= 13:
    print("Anak")
elif 14 <= usia <= 24:
    print("Remaja")
elif 25 <= usia <= 49:
    print("Dewasa")
elif usia >= 50:
    print("Lansia")
else:
    print("Usia tidak valid")

NameError: name 'usia' is not defined